@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background: repeating-linear-gradient(
    45deg,
    #d1e8b5,
    #d1e8b5 10px,
    #b7d89c 10px,
    #b7d89c 20px
  );
  font-family: 'Press Start 2P', monospace;
  margin: 0;
  padding: 0;
  color: #2e4d1c;
  height:auto;
}

.form-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: brown;
}

.registration-form {
  max-width: 400px;
  margin: 2rem auto;
  background: rgba(243, 252, 226, 0.15);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 16px;
  border-radius: 12px;
}

.registration-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1 rem;
}

.registration-form input,
.registration-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.8rem;
  background: #d1e8b5;
  font-family: 'Press Start 2P', monospace;
  box-sizing: border-box;
  color:black;
}

.registration-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #a2352d;
  border-bottom: 4px solid #000;
  border-right: 4px solid #000;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Press Start 2P', monospace;
  transition: background 0.2s;
}